profiles {
  local {
    params.run_type='local'
    params.containers='docker' 
    docker.enabled = true
    includeConfig 'configs/local.config'
  }
  r2d2 {
    params.run_type='r2d2'
    params.image_folder='/beegfs/common/singularity/'
    params.extra_mounts=''
    params.queue='hooli'
    params.containers='singularity'
    singularity.enabled = true
    includeConfig 'configs/slurm.config'
  }
  raven {
    process {
      beforeScript = 'module load singularity'
    }
    params.run_type='raven'
    params.image_folder='/nexus/posix0/MAGE-flaski/service/images/'
    params.extra_mounts='-B /raven:/raven -B /nexus:/nexus'
    params.queue='general,small'
    params.containers='singularity'
    singularity.enabled = true
    includeConfig 'configs/slurm.config'
  }
  studio {
    params.run_type='studio'
    params.image_folder='/nexus/posix0/MAGE-flaski/service/images/'
    params.extra_mounts='-B /nexus:/nexus'
    params.queue='cluster'
    params.containers='singularity' 
    singularity.enabled = true
    includeConfig 'configs/slurm.config'
  }
}