process {
    withName:get_cache {
        cpus=2
        container = "ensemblorg/ensembl-vep:release_110.1"
        containerOptions = "-v ${params.project_folder}:/workdir"
    }

    withName:vep {
        cpus=4
        container = "ensemblorg/ensembl-vep:release_110.1"
        containerOptions = "-v ${params.project_folder}:/workdir -v ${params.samplestable}:${params.samplestable}"
    }
}