process {
    withName:get_cache {
        cpus=2
        container = "${params.image_folder}vep-110.1.sif"
        containerOptions = "-v ${params.project_folder}:/workdir -v ${params.vep_raw_data}:/workdir/filter -v ${params.tmp}:/workdir/tmp"
    }

    withName:vep {
        cpus=4
        container = "${params.image_folder}vep-110.1.sif"
        containerOptions = "-v ${params.project_folder}:/workdir -v ${params.vep_raw_data}:/workdir/filter -v ${params.tmp}:/workdir/tmp"
    }
}


docker pull ensemblorg/ensembl-vep:release_110.1