process {
    withName:get_cache {
        executor='slurm'
        queue="${params.queue_web}"
        cpus=2
        memory='30GB'
        time='01:59:00'
        container = "${params.image_folder}vep-110.1.sif"
        containerOptions = "${params.extra_mounts} -B ${params.project_folder}:/workdir"
    }
    withName:vep {
        executor='slurm'
        queue="${params.queue_web}"
        cpus=4
        memory='30GB'
        time='01:59:00'
        container = "${params.image_folder}vep-110.1.sif"
        containerOptions = "${params.extra_mounts} -B ${params.project_folder}:/workdir"
    }
    withName:merging {
        executor='slurm'
        queue="${params.queue}"
        cpus=4
        memory='40GB'
        time='6h'
        container = "${params.image_folder}rnaseq.python-3.8-2.sif"
        containerOptions = "${params.extra_mounts} -B ${params.project_folder}:/workdir -B ${params.samplestable}:${params.samplestable}"
    }

}